@font-face {
  font-family: 'Figtree';
  src: url('../fonts/Figtree-VariableFont_wght.ttf');
}

:root {
  /* Colors */
  --Yellow : hsl(47, 88%, 63%);
  --White : hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950 : hsl(0, 0%, 7%);

  /* paragraph */
  --Font-size : 16px;
  
  /* Font */
  --Weight-500: 500;
  --Weight-800: 800;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--Yellow);
  font-family: 'Figtree', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  flex: 0 0 250px;
  background-color: var(--White);
  border-radius: 20px;
  padding: 20px;
  border: 2px solid var(--Gray-500);
  box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.8);
}

.image__card {
  border-radius: 10px;
}

button {
  background-color: var(--Yellow);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin: 20px 0 10px 0;
  padding: 10px 10px;
  font-weight: var(--Weight-800);
}

.card__date {
  font-weight: var(--Weight-500);
  color: var(--Gray-950);
}

.card__details h3 {
  font-weight: var(--Weight-800);
  padding: 10px 0 20px 0;
}

.card__details h3:hover {
  cursor: pointer;
  color: var(--Yellow);
}

.card__details p {
  font-weight: var(--Weight-500);
  color: var(--Gray-500);
}

.card__footer {
  display: inline-flex;
  padding-top: 20px;
}

.card__footer img  {
  height: 50px;
}

.card__footer h4  {
  padding-top: 20px;
  padding-left: 10px;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
